body{
    margin: 0px;
}
.container{
    background-color: aquamarine;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.imageCard{
    background-color: blue;
    width: 270px;
    margin-top: 14px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.textCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
}